[run]
branch = True
omit = */virtualenvs/*
       */migrations/*
       */settings/*
       */tests/*
       */tests.py
       */manage.py
       */users/managers.py
       */github_repo_monitor/celery.py
       */venv/*
       */site-packages/*
