// Pages

.app-container {
    background-color: rgb(246, 248, 251);
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;

    & .component-wrapper {
        margin-top: 15px;
    }
}