.custom-navbar {
    & .nav-link:not(:hover) {
        color: #fff !important;
    }

    & .avatar-wrapper {
        margin: 0 8px;
        width: 40px;
        height: 40px;

        & > img,
        & > .avatar-placeholder {
            height: 100%;
            width: 100%;
        }

        & > img {
            border-radius: 35px;
        }

        & > .avatar-placeholder {
            color: #fff;
        }
    }

    & .display-on-collapsed {
        @media screen and (min-width: 768px) {
            display: none !important;
        }
    }

    & .hidden-on-collapsed {
        @media screen and (max-width: 767px) {
            display: none !important;
        }
    }

    & .toggler {
        border: 0;
        padding: 0;
        background-color: transparent;
        color: #fff;
        display: flex;
        align-items: center;

        & > .avatar-wrapper {
            margin-right: 0;
        }
    }
}